<script id="tmpl-section" type="text/template">
    <section>
        <cite></cite>
        <figure style="overflow: hidden;"></figure>
        <blockquote style="">
            <div>\{{address}}</div>
            <div>\{{content}}</div>
        </blockquote>
    </section>
</script>
<script id="tmpl-section-image" type="text/template">
    <img style="" src="\{{imageurl}}" ／>
</script>
<script id="tmpl-nav-item" type="text/template">
    <div style="width: 20px; height: 40px; text-align: center;">.</div>
</script>
<style type="text/css">

</style>
<style type="text/css" media="all and (orientation:portrait)">
figure img {
    height: 100%;
}
</style>
<style type="text/css" media="all and (orientation:landscape)">
figure img {
    width: 100%;
}
</style>
<script type="text/javascript">
$(function() {
    var data = {{{json data.datasource}}};
    var states = {
        orientation: -1
    };
    var template = {
        section: Handlebars.compile($("#tmpl-section").html()),
        sectionimage: Handlebars.compile($("#tmpl-section-image").html()),
        navitem: Handlebars.compile($("#tmpl-nav-item").html())
    };
    var handler = {
        imagereview: function(section, isleft) {
            var distance = section.find("img").width() - section.width();
            var figure = section.find("figure");
            if(distance > 0) {
                figure.animate({ scrollLeft: (isleft ? "+=" : "-=") + distance }, distance * 100, "linear", function() {
                    handler.imagereview.call(this, section, !isleft);
                    // $("figure").stop(true);
                });
            }
        },
        swipeleft: function(ev){
            $("#viewport").animate({ 
                scrollLeft: "+={width}".replace("{width}", $("#viewport").width()) 
            }, "fast", function() {
                handler.navshow.call(this, parseInt($("#viewport").scrollLeft() / $("#viewport").width())); 
            });
        },
        swiperight: function(ev){
            $("#viewport").animate({ 
                scrollLeft: "-={width}".replace("{width}", $("#viewport").width()) 
            }, "fast", function() {
                handler.navshow.call(this, parseInt($("#viewport").scrollLeft() / $("#viewport").width()));
            });
        },
        navshow: function(index) {
            $("nav > div").css({color: '#666'});
            $("nav > div:eq({index})".replace("{index}", index)).css({color: 'red'});
        },
        render: function() {
            $("#viewport > *").remove();
            $("nav > *").remove();
            
            $.each(data, function(index, item) {
                var section = $(template.section(item))
                    .width($("#viewport").width())
                    .css({left: index * $("#viewport").width()})
                    .appendTo("#viewport");
                var navitem = $(template.navitem()).appendTo("nav");
                $(template.sectionimage(item)).load(function(){
                    section.find("figure").append(this);
                    handler.imagereview.call(this, section, true); 
                });
            });
        },
        orientationchange: function() {
            if(states.orientation !== window.orientation) {
                handler.render.call(this);
                handler.navshow.call(this, 0);
            }
            // switch(window.orientation) { 
            //     // 竖屏
            //     case 0: // Portrait
            //     case 180: // Upside-down Portrait 
            //     // 横屏
            //     case -90: // Landscape: turned 90 degrees counter-clockwise 
            //     case 90: // Landscape: turned 90 degrees clockwise 
            // }
        }
    };
    
    handler.orientationchange.call(this);

    var hammer = new Hammer($("#container").get(0));
	hammer.on('swipeleft', handler.swipeleft);
	hammer.on('swiperight', handler.swiperight);
    window.addEventListener("onorientationchange" in window ? "orientationchange" : "resize", handler.orientationchange, false); 
});
</script>
<header class="inline" style="background: #000;">
    <div style="width: 40px; height: 40px; text-align: center; background: #fff;">《</div>
    <div style="width: 240px; height: 40px; text-align: center; background: #fff;">TOWN for Agumn</div>
    <div style="width: 40px; height: 40px; text-align: center; background: #fff;">下载</div>
</header>
<div id="container" style="background: red;">
    <article>
        <div id="content">
            <div id="viewport" style="background: blue;">
            </div>
            <nav class="inline" style="background: #fff;">
            </nav>
        </div>
        <address style="background: orange;">
            英王小子
        </address>
    </article>
</div>
<!--<footer style="position: fixed; bottom: 0px; width: 100%; height: 40px; opacity:0.6; z-index:90; background: #000;">
</footer>-->
